.contenido{
    float:left;
    position: relative;
    top: 15px; 
    left: 120px;
    width: 72%;
    height: 1300px;
    }
.navegacion1{ 
    float:left;
    position: relative;
    top: 15px; 
    left: 49px;
    width: 15%;
    height: 240px;
    } 
