@media only screen and (min-width: 100px) {
    html, body {
        font-size: 15px;
    }
/*selectores por clases*/ 
/*estilo para las paguinas 2,3,4,5*/ 
.saction1{ 
	float:left;
	position: relative;
	top: 15px; 
	left: 3px;
    width: 25%;
    height: 640px;
    } 

/*estilo para las paguinas 2,3,4,5*/
.saction2{
	float:left; 
	position: relative;
    top: 15px;
    width: 72%;
    height: 2050px;
    }

/*estilo para las paguinas 6*/
.saction3{ 
    float:left;
    position: relative;
    top: 15px; 
    left: 150px;
    width: 50%;
    height: 440px;
    } 

/*estilo para las paguinas 2,3,4,5*/ 
.articulo1{
    float:left; 
	position: relative;
    width: 56%;
    height: 1715px;
} 
.articulo2{
    float:left; 
	position: relative;
	left: 121px;
    width: 31%;
    height: 1715px;
} 

/*estilo de pie de pagina*/
.pie{ 
    float:left; 
    position: relative;
    top: 30px; 
    width: 100%;
    height: 30px;
    background-color: white;
    text-align: center;
    }

/*estilo de cabecera*/ 
 .header1{
    float:left; 
    position: relative; 
    width: 100%; 
    height: 125px; 
    border: white 5px solid;
    background-image:url("C:/xampp/htdocs/Practicas/Practica02/SitioWebCSS/imagenes/arbol.jpg");
    background-size: 15% 100%;
    background-position: 15px;
    background-repeat: no-repeat;
    border-bottom-color: dodgerblue;
    background-color: white;
    text-align: center;
    }

/*estilo de navegacion*/ 

.navegacion1{ 
    float:left;
    position: relative;
    top: 15px; 
    left: 49px;
    width: 15%;
    height: 240px;
    
}

.image{
    float: left;
    position: relative;
    left: 1110px;
    top: 8px;
}
/*slectores id*/
#nombre{
    width: 99%;
    top: 15px;
    left: 5px;
}

#email{
    width: 99%;
    top: 30px;
    left: 5px;
}

#texto{
    float:left; 
    position: relative;
    top: 40px;
    left: 5px;
}

#msg1{
    float:left; 
    position: relative;
    width: 400%;
    height: 200px;
}

#button{
    float:left; 
    position: relative;
    top: 5px;  
    left: 350px;
}

/*selectores por etiquetas*/ 
nav{
    border: 5px solid  dodgerblue;
    -moz-border-radius: 50px;
    -webkit-border-radius:50px;
    padding: 2px;
    background-color: black;
}

h1{
    position: relative;
    color: darkmagenta;
    font-family: cursive;
    font-size: 65px;
 }
 
 h2{
    position: relative;
     color: forestgreen;
     font-family: arial, sans-serif;
     font-size: 34px;
     text-align: center;
 } 
 
 h3{
     position: relative;
     color: lawngreen;
     font-family: arial, sans-serif;
     font-size: 27px;
 } 
 
 h4{
     position: relative;
     color: olive;
     font-family: arial, sans-serif; 
     font-size: 20px;
 }
 table{
     position: relative;
     border: solid black;
     font-size: 13px;
     left: 5px;
 }
 
 p{
     float:left;
     position: relative;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 18px;
     left: 5px;
     text-align: justify;
     color: black;

 }
 
 address{
     font-family:courier;
     color: brown;
     font-size: 13.5px;
 }
 
 a{
     color: darkblue;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
 }

 aside{
    float:left;
    position: relative;
    width: 98%;
    height: 40px;
 }

 body{
    background-image: url("C:/xampp/htdocs/Practicas/Practica02/SitioWebCSS/imagenes/fotografia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: unset;
	margin-right: unset;
	width: 100%;
	min-height: 90%;
 }

form{
    position: relative;
    font-family: cursive;
    left: 5px;
}

label{
    float: left;
    position: relative;
    width: 15%;
    height: 25px;
    size: 12px;
    
}

input{
    position: relative;
    width: 30%;
    left: 30px;

}

div{
    background-color: rgba(176,124,48,0.5);
    -moz-border-radius: 20px;
    -webkit-border-radius:10px;
}
 /*Selectores por desendentes*/
 h2, h3, h4, span{
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: olive;
    left: 5px;
 }
 .navegacion2, .publicidad{ 
    float:left;
    position: relative;
    left: 46px;
    width: 60%;
    height: 240px;
    } 
#nombre, #email{
    float:left; 
    position: relative;
    color: floralwhite;
}

 u, ul{
     position: relative;
     list-style-type: symbols('*');
     caption-side: top;
     font-style: initial;
     color: midnightblue;
     left: 5px;
   }
 
 th, td , tr{
    text-align: left;
    vertical-align: top;
    border: 1px solid ;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    color: darkgreen;
    border: 1px solid  dodgerblue;
  }
 
img, iframe {
    position: relative; 
    top: 5px;
    display:block;
    margin:auto;
}

strong, i{
    color: darkblue;
}

bdi, em{
    color: firebrick;
}

span{
    color: sienna;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
dl {
    font: 1rem 'Fira Sans', sans-serif;
}

dl > dt {
    font-weight: normal;
    font-style: oblique;
}

dd {
    margin-bottom: 1rem;
}
blockquote {
    background: lightcyan;
    border-left: 10px solid rgba(176,124,48,0.5);
    quotes: "\201C""\201D""\201C""\2019";
    border-radius: 10%;
    width: 85%;
    margin: 1%;
    float: left;
    padding: 2%;
  }
.textos{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}