.contenido1{
	float:left; 
	position: relative;
	top: 15px;
	left: 120px;
    width: 45%;
    height: 980px;
    }
    
.contenido2{
    float:left; 
    position: relative;
    top: 15px;
    left: 195px;
    width: 20%;
    height: 730px;
    }
.navegacion1{ 
    float:left;
    position: relative;
    top: 15px; 
    left: 49px;
    width: 15%;
    height: 240px;
    } 
