<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style.css">
        <title>Página web con estilos</title>
    </head>

    <header>
        <h1></h1>
    </header>
    
    <nav>
        <u>
            <li></li>
        </u>
    </nav>


        </aside>
    </section>

    <section>
        <article>

        </article>

        <article>
            
        </article>

    </section>

    <footer>

    </footer>
</html>