<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style2.css">
        <title>El cáncer</title>
    </head>

    <body>
        <header class="header1">
            <h1>El cáncer</h1>
        </header>
    
    <section class="saction1">
        <nav class="navegacion2">
            <div><h2>Menú</h2></div>
            <u>
                <li><a href="../Index.html">Introducción</a></li>
                <li><a href="pagina1.html" >El cáncer en el Ecuador</a></li>
                <li><a href="pagina2.html" >¿QUÉ ES EL CÁNCER?</a></li>
                <li><a href="pagina3.html" >Tratamiento</a></li>
                <li><a href="pagina4.html" >Medidas preventivas</a></li>
                <li><a href="pagina5.html" >Tipos de cáncer</a></li>
                <li><a href="pagina6.html" >Contacto</a></li>
            </u>
        </nav>

        <aside class="publicidad">
            
            <div><h3>Publicidad</h3></div>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\previ.jpg" width="220"
             height="120">
            <p>El que pone la piel en juego, siempre pierde. La exposición excesiva al sol, puede causar cáncer de piel. Protéjase a sí mismo. 27 de Noviembre, Día Nacional de lucha contra el cáncer.</p>
        
        </aside>
    </section>

    <section class="saction2">
        <article class="articulo1">
            <div><h2>Medidas preventivas</h2></div>
            <p>Existen diferentes medidas preventivas relacionadas con los hábitos de vida, alimentación y otros factores, que son capaces de disminuir la probabilidad de aparición de cáncer. Las principales son:</p>
                
            <h4>Dejar de fumar:</h4>
            <p>El consumo de tabaco en todas sus formas (cigarrillo, puro, tabaco de pipa) constituye el principal factor de riesgo en la aparición de cáncer de pulmón y hace más probable que surjan otros tumores 
                malignos, entre ellos:</p>
                <ul>
                    <li>El cáncer de laringe</li>
                    <li>Cáncer de lengua</li>
                    <li>Cáncer de vejiga</li>
                    <li>Cáncer de riñón</li>
                </ul> 
            <h4>Dieta saludable:</h4>
            <p>en tal sentido se recomienda que sea variada, con la suficiente cantidad de nutrientes y rica en fruta fresca, verduras y productos confeccionados con harina integral, como pan integral.</p>
                <ul>
                    <li>Fibra</li> 
                    <p>Es recomendable una dieta que contenga fibras naturales comestibles, como la celulosa presente en la fruta fresca y la celulosa presente en los panes y harinas integrales, o en el arroz integral.</p>
                    <li>Aceite de oliva</li>
                    <p>Aunque el aceite de oliva disminuye el riesgo de enfermedad cardiovascular e infarto agudo de miocardio por ser rico en ácidos grasos monoinsaturados, no tiene ningún efecto preventivo conocido 
                        sobre la aparición de cáncer.</p>
                    <li>Micotoxinas</li>
                    <p>Resultan nocivos los alimentos contaminados por micotoxinas (por ejemplo aflatoxinas), por favorecer la aparición de cáncer de hígado.</p>
                    <li>Se desaconseja el consumo asiduo de bebidas alcohólicas</li>
                    <p>El consumo de alcohol incrementa el riesgo de aparición de distintos tipos de cáncer, incluyendo cáncer de laringe, cáncer de esófago y cáncer de mama.</p>
                </ul>
            <h4>Evitar la exposición prolongada al sol</h4>
            <p>Estudios epidemiológicos han demostrado una relación causal entre la exposición prolongada a la radiación solar y la aparición de cáncer de piel. Para una persona de tez clara en latitudes subtropicales, como ocurre 
                en gran parte de Argentina, los países mediterráneos, México y el sur de Estados Unidos, al nivel del mar, el tiempo de exposición directo diario recomendable sería de 30 minutos. Después de este plazo se hace 
                necesario el uso de protectores contra la radiación ultravioleta. Las poblaciones de tez más pigmentadas tienen mayor resistencia al efecto de la radiaciones ultravioletas pero aun así conviene evitar el exceso 
                de exposición.</p>
            <h4>Ejercicio físico</h4>
            <p>El ejercicio físico moderado o intenso, practicado de forma regular, disminuye la probabilidad de aparición de determinados tipos de cáncer, incluyendo</p>
                <ul>
                    <li>Cáncer de mama</li>
                    <li>Cáncer de colon</li>
                    <li>Cáncer de endometrio</li>
                    <li>Cáncer de próstata</li>
                </ul>
            <h4>Vacunación</h4>
            <p>Las vacunas para algunos virus, pueden prevenir determinados tipos de cáncer. Por ejemplo la vacunación universal contra la hepatitis B, puede reducir la incidencia de hepatocarcinoma. Existe una vacuna recientemente 
                aprobada contra el virus del papiloma humano para evitar la aparición del cáncer de cuello de útero.</p>
        </article>

        <article class="articulo2">
            <div><h2>Screening</h2></div>
            <p>El screening consiste en detectar signos de una enfermedad en personas sanas que aparentemente no muestran ninguna manifestación de ella, con la finalidad de tratarla en fases precoces, cuando es más probable lograr 
                la curación. En el campo de la oncología se ha demostrado que es útil realizar screening para la detección precoz del cáncer de mama, cáncer de cérvix y cáncer colorrectal. Sin embargo actualmente no se recomienda 
                para otros tipos de cáncer, como el cáncer de pulmón y el cáncer de páncreas, pues no se ha logrado mejorar la supervivencia de los pacientes.</p>
            <h4>Cáncer de cuello de útero</h4>
            <p> Se recomienda realizar la Prueba de Papanicolaou o citología de cérvix, a todas las mujeres a partir de los 25 años, o a los tres años de inicio de las relaciones sexuales. Se aconseja repetir la prueba al año, y 
                si los dos primeras resultados son negativos realizarla cada tres años hasta los 65.</p>
            <h4>Cáncer de mama</h4>
            <p> El screening se realiza mediante mamografías. Generalmente cada dos años entre los 50 y 70 aproximadamente. En algunas circunstancias especiales, como trastornos genéticos que aumentan la probabilidad de desarrollar 
                cáncer de mama, las pruebas pueden realizarse a edades más tempranas y con mayor frecuencia.</p>
            <h4>Cáncer de colon</h4>
            <p>Aunque no existe un consenso generalizado, se aconseja realizar el screening a personas de más de 50 años, aquellos que presenten colitis ulcerosa, enfermedad de Crohn u otra enfermedad que haga más probable la aparición 
                del cáncer, así como a los familiares directos de pacientes ya diagnosticados. Se lleva a cabo mediante la prueba de sangre oculta en heces, y si esta es positiva se practica colonoscopia. En ocasiones se realiza 
                directamente la colonoscopia.</p>
            <p></p>
        </article>
    </section>

    <footer class="pie"> 
        <address>
            Autor: Monica Ptricia Morocho Medina ||  Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec </a> 
            || Careera: Ing. Sistemas || Tel. <a href="tel:2476155">2476155</a> ||  © Copyright | Todos los derechos reservados
        </address>
    </footer>
</body>
</html>