<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style2.css">
        <title>El cáncer</title>
    </head>

    <body>
    <header class="header1">
        <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\Logo.png" width="120"
             height="60">
        <h1>El cáncer</h1>
        
    </header>
    
    <section class="saction1">
        <nav>
            <h2>Menú</h2>
            <u>
                <li><a href="../Index.html">Introducción</a></li>
                <li><a href="pagina1.html" >El cáncer en el Ecuador</a></li>
                <li><a href="pagina2.html" >¿QUÉ ES EL CÁNCER?</a></li>
                <li><a href="pagina3.html" >Tratamiento</a></li>
                <li><a href="pagina4.html" >Medidas preventivas</a></li>
                <li><a href="pagina5.html" >Tipos de cáncer</a></li>
                <li><a href="pagina6.html" >Contacto</a></li>
            </u>
        </nav>

        <aside>
            <h3>Publicidad</h3>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\vision.png" width="220"
             height="120">
            <p>Los consumidores podrán colaborar en la lucha adquiriendo varios accesorios de Visionlab como estuches, gamuzas limpiacristales y pulseras diseñadas con el símbolo de la lucha contra el cáncer.</p>
        </aside>
    </section>

    <section class="saction2">
        <article class="articulo1">
            <h2>Tipos de cáncer</h2>
            <h4>Cáncer cerebral</h4>
                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\cerebral.jpg" width="200"
                    height="120"> 
            <p>Un tumor cerebral es un crecimiento descontrolado de células derivadas de componentes cerebrales (tumores primarios) o de células tumorales localizadas en otras áreas del organismo (metástasis).</p>
                        
            <h4>Cáncer de colon</h4>
                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\colon.jpg" width="200"
                     height="120">
            <p>El cáncer colorrectal, también llamado cáncer de colon, incluye cualquier tipo de neoplasias del colon, recto y apéndice.</p>  
            
            <h4>Cáncer de corazón</h4>
            <p>La mayoría de los tumores cardíacos son benignos: mixoma, mioma, rabdomioma, y hamartoma, en raras ocasiones son malignos, como el angiosarcoma cardíaco. En un estudio de 12.487 autopsias realizadas 
                en Hong Kong se encontraron 7 tumores cardíacos, la mayoría de los cuales fue benigna.</p> 
            
            <h4>Cáncer de esófago</h4>
            <p>El cáncer de esófago es una malignidad del esófago. Existen varios subtipos, aunque la mayoría se caracterizan por la presencia de síntomas como disfagia (dificultad para deglutir o tragar), dolor, pérdida 
                de peso, entre otros; y son diagnosticados por medio de biopsia. </p>
            
            <h4>Cáncer de estómago</h4>
                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\estomago.png" width="200"
                     height="120">
            <p>El cáncer de estómago o cáncer gástrico es un tipo de crecimiento celular maligno con capacidad de invasión y destrucción de otros tejidos y órganos, causando cerca de un millón de muertes en el mundo 
                anualmente.</p> 
            
            <h4>Cáncer de labio</h4>
            <p>El cáncer de labio es una lesión maligna que aparece en esta área del cuerpo. Representa aproximadamente el 2% del total de los cánceres y el 30% de los tumores malignos que surgen en la boca.</p>   
            
            <h4>Cáncer de mama</h4>
            <p>El cáncer de mama es una proliferación maligna de las células epiteliales que revisten los conductos o lobulillos mamarios. Es una enfermedad clonal; donde una célula individual producto de una serie 
                de mutaciones somáticas o de línea germinal adquiere la capacidad de dividirse sin control ni orden, haciendo que se reproduzca hasta formar un tumor.</p>

            <h4>Cáncer de páncreas</h4>
                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\pancrease.png" width="200"
                     height="120">
            <p>El cáncer de páncreas o cáncer pancreático es un tumor que se origina en la glándula pancreática.El cáncer de páncreas, si bien es el décimo tumor en frecuencia en los países industrializados (solo 
                constituye del 2% al 3% de todos los tumores sólidos), representa la cuarta causa de muerte por cáncer y se prevé que para 2030 incremente su incidencia en un 50%, convirtiéndose así en la segunda 
                causa de muerte por cáncer y provocando más muertes que el cáncer de próstata, colon o mama.</p>

            <p>Entre otras.</p>
        </article>

        <article class="articulo2">
            <h2>Visionlab se une a la fundación Cris en la lucha contra el cáncer</h2>
            <p>Visionlab, compañía de centros de óptica referente en el mercado nacional y la Fundación CRIS Contra el Cáncer, organización privada e independiente que fomenta y financia proyectos de investigación 
                para el tratamiento y cura del cáncer, han unido sus fuerzas con el objetivo de recaudar fondos destinados a la financiación de proyectos de investigación para el tratamiento y cura de esta enfermedad.</p>

                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\cartel.jpg" width="200"
                     height="200">

            <p>En la actualidad, la Fundación CRIS contra el Cáncer financia más de 10 proyectos de investigación abiertos para adultos, niños y adolescentes, desarrollados en centros de investigación y hospitales de 
                referencia de toda España. Entre los proyectos financiados destacan proyectos de investigación en leucemias y otros tipos de cáncer infantil, cánceres de sangre, de mama, de páncreas o de ovario, entre otros.</p>

                <iframe width="260" height="260" src="https://www.youtube.com/embed/-M394Pax5uI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
    </section>

    <footer class="pie"> 
        <address>
            Autor: Monica Ptricia Morocho Medina ||  Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec </a> 
            || Careera: Ing. Sistemas || Tel. <a href="tel:2476155">2476155</a> ||  © Copyright | Totos los derechos reservados
        </address>
    </footer>
</body>
</html>