<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style2.css">
        <title>El cáncer</title>
    </head>

    <body>
    <header class="header1">
        <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\Logo.png" width="120"
             height="60">
        <h1>El cáncer</h1>
        
    </header>
    
    <section class="saction1">
        <nav class="navegacion2">
            <h2>Menú</h2>
            <u>
                <li><a href="../Index.html">Introducción</a></li>
                <li><a href="pagina1.html" >El cáncer en el Ecuador</a></li>
                <li><a href="pagina2.html" >¿QUÉ ES EL CÁNCER?</a></li>
                <li><a href="pagina3.html" >Tratamiento</a></li>
                <li><a href="pagina4.html" >Medidas preventivas</a></li>
                <li><a href="pagina5.html" >Tipos de cáncer</a></li>
                <li><a href="pagina6.html" >Contacto</a></li>
            </u>
        </nav>

        <aside>
            <h3>Publicidad</h3>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\dia.jpg" width="220"
             height="120">
            <p>Hoy en Tejido Creativo nos unimos de forma solidaria en apoyo a quienes en el tablero de la vida, se enfrentan al cáncer.<br></p>
            <p>Deseamos que en esta partida cada táctica y cada movimiento los lleve a la victoria. Unidos, con compromiso y esperanza 
               ¡Sí se puede vencer! ¡”Jaque Mate” al cáncer!</p>
        </aside>
    </section>

    <section class="saction2">
        <article class="articulo1"> 
            <h2>Tratamiento</h2>
            <p>El tratamiento del cáncer se fundamenta en cuatro pilares como se en la siguiente lista:<br>
             
                <ul>
                    <li>Cirugía</li>
                    <li>Quimioterapia</li>
                    <li>Radioterapia e inmunoterapia.</li>
                </ul> 
            </p>
            <p>Otras posibilidades de tratamiento incluyen la hormonoterapia y el trasplante de médula ósea. El tratamiento debe ser multidisciplinario en todos los casos, pues exige la cooperación entre distintos profesionales:</p>
                <ul>
                    <li>Cirujano</li> 
                    <li>Quimioterapia</li>
                    <li>Radioterapia e inmunoterapia.</li>
                    <li>Radioterapeuta</li>
                    <li>Oncólogo</li>
                    <li>Dermatólogo</li>
                    <li>Neumólogo</li>
                    <li>Ginecólogo</li>
                    <li>Imagenólogo</li>
                    <li>Gastroenterólogo, etc.</li>
                </ul>
            <p>La elección del tratamiento más adecuado puede consultarse con el médico si es que existe más de una opción disponible. Si las decisiones sobre el tratamiento son complejas, el paciente podrá solicitar una segunda 
                opinión, y en algunas ocasiones puede participar en un estudio o investigación que se esté realizando en el hospital o sector sanitario donde recibe atención, tales estudios, llamados ensayos clínicos, se diseñan 
                para mejorar las terapias contra cáncer.</p>

            <h3>El cáncer se fundamenta en cuatro pilares</h3>
            <h4>Cirugía:</h4>
            <p>extirpación del tumor en el quirófano por un cirujano, continúa siendo la base fundamental del tratamiento del cáncer. La cirugía puede ser curativa, cuando se extirpa el tumor en su totalidad, 
                o paliativa, cuando su objetivo es evitar complicaciones inmediatas, intentando por ejemplo evitar el efecto compresivo del tumor maligno sobre un órgano cercano.</p>
            <h4>Radioterapia</h4>
            <p>Consiste en la utilización de radiaciones ionizantes para destruir las células malignas y hacer desaparecer el tumor o disminuir su tamaño. Aunque el efecto de la radiación provoca también daño en las células normales, 
                estas tienden a recuperarse y continuar con su función.21​ Una alternativa es el uso de protones o protonterapia.91​ Otra variante es la braquiterapia que utiliza isótopos radioactivos que se colocan dentro o cerca de 
                la zona que requiere tratamiento.</p>
                
            <h4>Quimioterapia</h4>
            <p>Consiste en la utilización de una serie de medicamentos que se llaman citostáticos, son sustancias que tienen la capacidad de inhibir la evolución de los tumores malignos restringiendo ciertos mecanismos bioquímicos 
                específicos de la multiplicación de sus células dificultando el proceso de división. Estos medicamentos constituyen un grupo heterogéneo de diversas sustancias que se utilizan de forma preferente, aunque no exclusiva, 
                en el tratamiento del cáncer. Algunas de las más empleadas son: </p>
                <ul>
                    <li>La ciclofosfamida</li>
                    <li>El 5-fluorouracilo</li>
                    <li>El metotrexato.</li>
                </ul>
            <h4>Inmunoterapia o terapia biológica</h4>
            <p>Consiste en la utilización de diversas moléculas, entre ellas citocinas y anticuerpos monoclonales como el bevacizumab, cetuximab y trastuzumab, diseñados mediante técnicas de ingeniería genética, que de alguna forma 
                intentan destruir las células cancerosas empleando la capacidad del sistema inmunitario para hacer diana en procesos celulares disfuncionales concretos. El mecanismo de acción de estas sustancias es más específico que 
                el de la quimioterapia y se pretende de esta forma minimizar el daño a las células normales, sin embargo esta terapia no ha alcanzado el desarrollo de la quimioterapia.</p>
            
        </article>

        <article class="articulo2">
            <h2>Otros Tratamientos</h2>
            <h4>Hormonoterapia</h4>
            <p>Se basa en la utilización de medicamentos que interfieren con la producción de hormonas o en su acción (castración química), con el objetivo de disminuir la velocidad de crecimiento de algunos tipos de cáncer que afectan 
                a tejido.</p>
                
            <h4>Trasplante de médula ósea</h4>
            <p>Se aplica principalmente al tratamiento de algunas formas de leucemia y linfoma.</p>
                
            <h4>Terapia génica</h4>
            <p>Utiliza virus para introducir genes al ADN de las células cancerosas para convertirlas en células no cancerosas. La terapia génica aún se encuentra en fase de experimentación, y uno de los grandes problemas de la terapia 
                génica radica en la ausencia de sistemas portadores adecuados que lleven los genes exactamente a las células diana.</p>
                
            <h4>Aspectos psicológicos</h4>
            <p>Una vez establecido el diagnóstico, es importante tener en cuenta los aspectos psicológicos, algunas reacciones al estrés, como consumo de alcohol, tabaco u otras drogas o unas estrategias psicológicas deficientes para 
                afrontar los problemas, pueden perjudicar considerablemente la evolución de la enfermedad.</p>
            
            <h2>Pronóstico</h2>
            <p>Las posibilidades de supervivencia una vez realizado el diagnóstico, dependen primordialmente de lo temprano que se haya descubierto la enfermedad y del tipo de cáncer, pues algunos son más agresivos que otros. Las estadísticas 
                de supervivencia se realizan generalmente en porcentaje de pacientes vivos 5 años después del momento del diagnóstico. </p>
            
            <h4>Los principales factores que influyen en el pronóstico son:</h4>
            <ul>
                <li>La localización del tumor primario.</li>
                <li>El tipo histológico con su grado de diferenciación celular, sus características biológicas y citogenéticas.</li>
                <li>La extensión de la enfermedad.</li>
                <li>La edad del paciente.</li>
                <li>El estado funcional o la reserva fisiológica del paciente.</li>
            </ul>

            <table>
                <tr>
                <th><mark>media a los 5 años (UE)</mark></th>
                </tr>

                <tr>
                <td>Cáncer de colon y recto​</td>
                <td>53 %</td>
                </tr>

                <tr>
                    <td>Cáncer de pulmón​</td>	
                    <td>10 %</td>
                </tr>

                <tr>
                    <td>Melanoma​</td>	
                    <td>85 %</td>
                </tr>

                <tr>
                    <td>Cáncer de mama</td>
                    <td>79 %</td>
                </tr>

                <tr>
                    <td>Cáncer de ovario</td>	
                    <td>34 %</td>
                </tr>

                <tr>
                    <td>Cáncer de próstata</td>	
                    <td>74 %</td>
                </tr>

                <tr>
                    <td>Cáncer de testículo	</td>
                    <td>96 %</td>
                </tr>

                <tr>
                    <td>Enfermedad de Hodgkin</td>	
                    <td>80 %</td>
                </tr>

                <tr>
                    <td>Cáncer de páncreas</td>
                    <td>5 %</td>
                </tr>
            </table>
        </article>
    </section>

    <footer class="pie"> 
        <address>
            <b>Autor: Monica Ptricia Morocho Medina</b> ||  Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec </a> 
            || Careera: Ing. Sistemas || Tel. <a href="tel:2476155">2476155</a> ||  © Copyright | <s>Todos los derechos reservados</s>
        </address>
    </footer>
    </body>
</html>