<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style1.css">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style2.css">
        <title>El cáncer</title>
    </head>

    <body>
    <header class="encabesado">
        <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\Logo.png" width="120"
            height="60">
        <h1>El cáncer</h1>
    </header>
    
    <nav class="navegacion1">
        <h2>Menú</h2>
        <u>
            <li><a href="../Index.html">Introducción</a></li>
            <li><a href="pagina1.html" >El cáncer en el Ecuador</a></li>
            <li><a href="pagina2.html" >¿QUÉ ES EL CÁNCER?</a></li>
            <li><a href="pagina3.html" >Tratamiento</a></li>
            <li><a href="pagina4.html" >Medidas preventivas</a></li>
            <li><a href="pagina5.html" >Tipos de cáncer</a></li>
            <li><a href="pagina6.html" >Contacto</a></li>
        </u>
    </nav>

    <section class="contenido1">
        <h2>El cáncer en el Ecuador</h2>
        <article>
            <h4>El cáncer es la segunda causa de muerte a nivel nacional, por eso te presentamos una perspectiva de esta enfermedad en el país.</h4>
            <p>Quince de cada cien muertes en el país se producen a causa del cáncer. En cuanto a la incidencia, nos encontramos a nivel medio 
                en la escala mundial y regional. Según GLOBOCAN 2012, un proyecto de la Organización Mundial de la Salud, se estimó que, en ese 
                año, en Ecuador la incidencia de cáncer en hombres fue de 162 por 100.000 habitantes, por encima de países como Perú (140,9) o 
                Venezuela (146,9), pero por debajo de Brasil (231,6) o Cuba (250,8). En 2013, se estima que se presentaron 134,9 casos de cáncer 
                en mujeres y 125,9 casos en hombres por cada 100.000 habitantes, según proyecciones del Registro Nacional de Tumores.<br></p>
            
            <p>En mujeres, el cáncer que se presenta con mayor frecuencia es el de mama (34,7 casos por cada 100.000 mujeres). Aunque es prevenible, 
                el cáncer de cuello uterino es el segundo más frecuente en mujeres, seguido por el cáncer de tiroides.<br></p>
            <p>Entre hombres, el cáncer de próstata es el más frecuente, con una incidencia de 37,8 casos por cada 100.000 hombres, seguido por el 
                cáncer de estómago, colorrectal y de pulmón.<br></p>
            
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\infografia.png" width="280"
                 height="280">
        </article>
    </section>

    <section class="contenido2">
        <article>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\banner.png" width="120"
                 height="360">
            <p>Según registros del MSP, hasta junio de 2018 se realizaron 1.287 nuevas atenciones con diagnóstico de cáncer de mama, de las cuales 1.254, 
                corresponden a mujeres representando el 97,6% de los casos presentados por esta patología datos obtenidos Registro Diario Automatizado de 
                Consultas y Atenciones Ambulatorias (RDACAA 2018) Y Plataforma de Registro de Atención en Salud (PRAS 2018).</p>
        </article>
    </section>

    <footer class="pie"> 
        <address>
            Autor: Monica Ptricia Morocho Medina ||  Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec </a> 
            || Careera: Ing. Sistemas || Tel. <a href="tel:2476155">2476155</a> ||  © Copyright | Totos los derechos reservados
        </address>
    </footer>
    </body>
</html>