<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\css\style2.css">
        <title>El cáncer</title>
    </head>

    <body>
    <header class="header1">
        <h1>El cáncer</h1>
    </header>

    <section class="saction1">
        <nav class="navegacion2">
            <div><h2>Menú</h2></div>
            <u>
                <li><a href="../Index.html">Introducción</a></li>
                <li><a href="pagina1.html" >El cáncer en el Ecuador</a></li>
                <li><a href="pagina2.html" >¿QUÉ ES EL CÁNCER?</a></li>
                <li><a href="pagina3.html" >Tratamiento</a></li>
                <li><a href="pagina4.html" >Medidas preventivas</a></li>
                <li><a href="pagina5.html" >Tipos de cáncer</a></li>
                <li><a href="pagina6.html" >Contacto</a></li>
            </u>
        </nav>

        <aside class="publicidad">
            
            <div><h3>Publicidad</h3></div>
                <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\resistire.jpg" width="170"
                height="200">
                <p>La fundación Juegaterapia.org busca que los niños, a pesar de esta enfermedad, sigan siendo y actuando como niños, “Jugando la quimio se pasa volando”. </p>
           
        </aside>
    </section>

    <section class="saction2">
        <article class="articulo1">
            <div><h2>¿QUÉ ES EL CÁNCER?</h2></div>
            <p>Cáncer es el nombre común que recibe un conjunto de enfermedades relacionadas en las que se observa un proceso descontrolado en la división de las células del cuerpo.<br></p>
            <p>La palabra cáncer es un término muy amplio que abarca más de 200 tipos de enfermedades. Cada uno de estos tipos de enfermedades puede tener características completamente 
              diferentes al resto de los cánceres, pudiendo considerarse enfermedades independientes, con las causas del cáncer, su evolución y sus tratamiento específicos.</p>
            <iframe width="460" height="215" src="https://www.youtube.com/embed/OVssvEZy6vI" frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>¿CÓMO OCURRE EL CÁNCER?</h3>
            <p>Nuestro organismo está constituido por un conjunto de células sólo visibles a través de un microscopio.<br></p>
            <p>Estas células se dividen periódicamente y de forma regular con el fin de reemplazar a las ya envejecidas o muertas, y mantener así la integridad y el correcto 
               funcionamiento de los distintos órganos.</p>
            <h4>El proceso de división de las células</h4>
            <p>Está regulado por una serie de mecanismos de control que indican a la célula cuándo comenzar a dividirse y cuándo permanecer estática. Cuando se produce un daño celular 
                que no puede ser reparado se produce una autodestrucción celular que impide que el daño sea heredado por las células descendientes. </p>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\celulas.jpg" width="420"
            height="320"/>

        <div><h2>CLASIFICACIÓN</h2></div>
            <p>El cáncer se clasifica según el tejido a partir del cual las células cancerosas se originan. El diagnóstico está, en gran medida, influenciado por el tipo de tumor 
                y la extensión de la enfermedad. Frecuentemente, en estados iniciales, los síntomas pueden ser interpretados como procedentes de otras patologías. Aunque las 
                primeras manifestaciones de la enfermedad provienen de síntomas, análisis de sangre o radiografías, el diagnóstico definitivo requiere un examen histológico con 
                microscopio. La clasificación histológica tras la biopsia de la lesión, sirve para determinar el tratamiento más adecuado</p>
            <img src="C:\xampp\htdocs\Practicas\Practica02\SitioWebCSS\imagenes\tipo.jpeg" width="420"
            height="320"/>
        </article>

        <article class="articulo2">
            <div><h2>EPIDEMIOLOGÍA</h2></div>
            <p>La frecuencia relativa de cada tipo de cáncer varía según el sexo y la región geográfica. El cáncer de pulmón es el más frecuente en el mundo para el total de los 
                dos sexos especialmente en los varones, mientras que en las mujeres es el de mama.<br></p>
            <p>Para conocer los casos nuevos de cáncer que se diagnostican en una población a lo largo de un periodo de tiempo, se utilizan los denominados registros poblacionales 
                de cáncer, los cuales se ocupan de recoger de una <dfn>forma sistemática, continuada y estandarizada la información necesaria para obtener datos de incidencia de cáncer 
                y estudiar su distribución por edad, sexo, características tumorales, así como su evolución a lo largo del tiempo</dfn></p>

            <table>

                <tr>
                    <th>Cánceres en mujeres de Estados Unidos</th>
                </tr>

                <tr>
                    <td>Cáncer de pulmón</td>
                    <td>26 %</td>
                </tr>

                <tr>
                    <td>Cáncer de mama</td>
                    <td>15 %</td>
                </tr>

                <tr>
                    <td>Cáncer de colon y recto</td>
                    <td>9 %</td>
                </tr>

                <tr>
                    <td>Cáncer de páncreas</td>
                    <td>6 %</td>
                </tr>
    
                <tr>
                    <td>Cáncer de ovario</td>
                    <td>6 %</td>
                </tr>
    
                <tr>
                    <td>Leucemia</td>
                    <td>4 %</td>
                </tr>

            </table>

            <table>

                <tr>
                    <th>Cánceres en varones de Estados Unidos</th>
                </tr>
    
                <tr>
                    <td>Cáncer de pulmón</td>
                    <td>31 %</td>
                </tr>
    
                <tr>
                    <td>Cáncer de próstata</td>	
                    <td>10 %</td>   
                </tr>
    
                <tr>
                    <td> Cáncer de colon y recto</td>	
                    <td>8 %</td>
                </tr>
    
                <tr>
                    <td>Cáncer de páncreas</td>	
                    <td>6 %</td>
                </tr>
        
                <tr>
                    <td>Leucemia</td>	
                    <td>4 %</td>
                </tr>
        
                <tr>
                    <td> Hígado y vesícula</td>	
                    <td>4 %</td>
                </tr>

            </table>
        </article>
    </section>

    <footer class="pie"> 
        <address>
            Autor: Monica Ptricia Morocho Medina ||  Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec </a> 
            || Careera: Ing. Sistemas || Tel. <a href="tel:2476155">2476155</a> ||  © Copyright | Todos los derechos reservados
        </address>
    </footer>
    </body>
</html>